<div class="basic-container">
  <h1>This is a web app!</h1>
  <p>
    Won't you please <a routerLink="/login">sign in</a> or
    <a routerLink="/register">register</a>?
  </p>
</div>


<div class="basic-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Tenno Column -->
      <ng-container matColumnDef="tenno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tenno </th>
        <td mat-cell *matCellDef="let row">{{row.tenno}}/4</td>
      </ng-container>

      <!-- Relic Column -->
      <ng-container matColumnDef="relic">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Relic </th>
        <td mat-cell *matCellDef="let row">{{row.relic}}</td>
      </ng-container>

      <!-- Platform Column -->
      <ng-container matColumnDef="platform">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Platform </th>
        <td mat-cell *matCellDef="let row">{{row.platform}}</td>
      </ng-container>

      <!-- Quality Column -->
      <ng-container matColumnDef="quality">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quality </th>
        <td mat-cell *matCellDef="let row">{{row.quality}}</td>
      </ng-container>

      <!-- Deadline Column -->
      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Deadline </th>
        <td mat-cell *matCellDef="let row">{{row.deadline}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  <mat-paginator [pageSize]="30"></mat-paginator>
</div>

<button class="mat-raised-button newRoomButton"(click)="openNewRadDialog()">
  <img src="/assets/images/newRadshare.png" alt="New Radshare">
</button>
